.places {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    }

.places h1{
    font-size: 30px;
    text-align: left;
    }

.articles{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    }

.places .articles article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border:1px solid #FF5A5F;
    border-radius: 4px;
    }

.places .articles article h2{
    font-size: 30px;
    text-align: center;
    }